<!DOCTYPE HTML >
<html>
<head>
  <title>GNUKhata | Find-Edit Voucher</title>
  <style media="screen">
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  </style>
</head>
<body>

  <div class="container-fluid" id="inner">
    <div  class="mainbox col-md-12">

      <div class="alert alert-danger" id="ua-alert" hidden>
        <a href="#" class="close" aria-label="close">&times;</a>

        <strong>Unauthorized to Lock/Unlock Transactions!</strong>
      </div>

      <div class="alert alert-danger" id="vno-alert" hidden>
        <a href="#" class="close"  aria-label="close">&times;</a>

        Please enter voucher number!
      </div>

      <div class="alert alert-danger" id="vamt-alert" hidden>
        <a href="#" class="close"  aria-label="close">&times;</a>

        Please enter an amount!
      </div>

      <div class="alert alert-danger" id="vnar-alert" hidden>
        <a href="#" class="close"  aria-label="close">&times;</a>

        Please enter a narration!
      </div>

      <div class="alert alert-danger" id="vdt-alert" hidden>
        <a href="#" class="close"  aria-label="close">&times;</a>

        Please enter a proper date!
      </div>

      <div class="alert alert-danger" id="notran-alert" hidden>
        <a href="#" class="close"  aria-label="close">&times;</a>

        <p id="nt">No transactions found </p>
      </div>

      <div class="panel panel-info shadow" >
        <div class="panel-heading">
          <div class="panel-title">Find Voucher</div>
        </div>
        <div class="panel-body" >
          <form id="findvoucher" class="form-horizontal" role="form">

            <label for="searchby" id="sby">Search Voucher By :</label><br/>

            <div class="form-group col-md-3">
              <select class = "form-control" id="searchby"  name = "searchby">
                <option value="" disabled selected hidden>Select Criteria</option>
                <option value="vnum" >Voucher Number</option>
                <option value="type" >Type</option>
                <option value="amount" >Amount</option>
                <option value="date" >Date</option>
                <option value="narration" >Narration</option>
              </select>
            </div>
            <div class=" col-md-5 col-xs-offset-1 vtp">
              <div class=" col-md-6">
                <select class = "form-control" name="vtype" id="vtype" hidden>
                  <option value="contra" >Contra</option>
                  <option value="payment" >Payment</option>
                  <option value="receipt" >Receipt</option>
                  <option value="journal" >Journal</option>
                  <option value="sales" >Sales</option>
                  <option value="purchase" >Purchase</option>
                  <option value="credit note" >Credit Note</option>
                  <option value="debit note" >Debit Note</option>
                  <option value="sales return" >Sales Return</option>
                  <option value="purchase return" >Purchase Return</option>
                </select>
              </div>
            </div>
            <div class=" col-md-5 col-xs-offset-1 vn" hidden>
              <div class=" col-md-6">
                <input type="text" class="form-control" name="vnum" id="vnum" placeholder="Voucher Number">
              </div>
            </div>
            <div class=" col-md-5 col-xs-offset-1 amt" hidden>
              <div class=" col-md-6">
                <input type="text" class="form-control" name="amount" id="amount" placeholder="Amount">
              </div>
            </div>
            <div class=" col-md-5 form-inline vdate col-xs-offset-1" hidden>
              <div class="form-group">

                <input type="text" name="fday" id="fday" value="" class="vcdate form-control" size="2" maxlength="2" placeholder="dd">
                <label>-</label>
                <input type="text" name="fmonth" id="fmonth" value="" class="vcdate form-control" size="2" maxlength="2" placeholder="mm">
                <label>-</label>
                <input type="text" name="fyear" id="fyear" value="" class="vcdate form-control" size="4" maxlength="4" placeholder="yyyy">
                <label>to</label>
                <input type="text" name="tday" id="tday"  value="" class="vcdate form-control" size="2" maxlength="2" placeholder="dd">
                <label>-</label>
                <input type="text" name="tmonth" id="tmonth" value="" class="vcdate form-control" size="2" maxlength="2" placeholder="mm">
                <label>-</label>
                <input type="text" name="tyear" id="tyear" value="" class="vcdate form-control" size="4" maxlength="4" placeholder="yyyy">
              </div>
            </div>
            <div class=" col-md-5 col-xs-offset-1 nar" hidden>
              <textarea class="form-control" name="narration" id="narration" rows="2" cols="60" placeholder="Narration"></textarea>
            </div>
            <div class="pull-right col-md-3">
              <button type="submit" class="btn btn-primary" id="submit" name="submit">Submit</button>
              <button id="reset" class="btn btn-danger">Reset</button>
            </div>
          </form>
        </div>
      </div>



    </div>
  </div>
  <div id="vct"  class="vtab panel panel-info">

  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.autotab.min.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/findeditvoucher.js')}}"></script>
</body>

</html>
